<div class="comment">
    <h3>
        <%# <strong>Commenter:</strong> %>
        <%= comment.commenter %>
    </h3>

    <p>
        <%# <strong>Comment:</strong> %>
        <%= comment.body %>
    </p>
</div>