<div class="index-container">
    <h1>Article</h1>

    <ul class="article-container">
        <% @article.each do |article|%>
            <li class="article">
                <%= link_to article.title, article %>
            </li>
        <%end%>
    </ul>

    <div class="new-article"><%= link_to "New Article", new_article_path %></div>
</div>